<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FurFindsPetShop"
        tools:targetApi="31">
        <activity
            android:name=".Cart"
            android:exported="false"
            android:theme="@style/FullscreenDecorFitSystemWindows">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Home"
            android:exported="false"
            android:theme="@style/HomeTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MyPetDetails"
            android:exported="false"
            android:theme="@style/FullscreenDecorFitSystemWindows">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MyPets"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenDecorFitSystemWindows">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Profile"
            android:exported="false"
            android:theme="@style/FullscreenDecorFitSystemWindows">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Favorites"
            android:exported="false"
            android:theme="@style/FullscreenDecorFitSystemWindows">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- appdev.technologies.furfindspetshop.fileprovider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".PetDetails"
            android:exported="false"
            android:theme="@style/FullscreenDecorFitSystemWindows">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NotificationBubble"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UserRegistrationPage"
            android:exported="false"
            android:theme="@style/FullscreenDecorFitSystemWindows">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BaseActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pets"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/FullscreenDecorFitSystemWindows" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/FullscreenDecorFitSystemWindows">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UserVerification"
            android:exported="false"
            android:theme="@style/ForcedFullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Landing"
            android:exported="true"
            android:label="@string/title_activity_landing"
            android:theme="@style/FullscreenDecorFitSystemWindows" />
        <activity
            android:name=".GetStarted"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/FullscreenDecorFitSystemWindows">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>